# ignore the data folder
**/data
**/.ipynb_checkpoints
# no .env
.env
.slurm_env
*.pyc
# *.yaml

# ignore the local test trainer huggingface FT folder
test_trainer/

**/mlflow-poddefault.yaml
**/mlruns
**/aimruns
**/nosync


**/dist
**/applyllm.egg-info
**/.pypirc
**/.vscode
**/mlflow.db
