huggingface_hub==0.21.0
transformers==4.38.1

# urllib3==2.0.4
urllib3==1.26.16
jsonschema==4.19.0
fastai==2.7.14
# for showing download widget in jupyter notebook
ipywidgets==8.1.0
# for python script input arg generation
click==8.1.7
# argparse==1.4.0
#
# monitor nvidia gpu usage
# have no permission to access
# gpustat==1.1.1
# nvidia-smi --query-compute-apps=pid,process_name,used_memory --format=csv
# from a kubeflow notebook
#
# kfp==1.8.22
# 
# python method overload
multipledispatch==1.0.0
# For T5 huggingface need sentencepiece
sentencepiece==0.1.99
#
# Moses Tokenizer for German custom translator
sacremoses==0.0.53
# pdf reader
pypdf==4.0.2
# pypdf==3.15.5

# CUDA gpu optimized transformer ops
accelerate==0.27.2
# transformer model quantization
bitsandbytes==0.42.0
einops==0.7.0

#torch-tensorrt==1.4.0

torch==2.1.2+cu118
torchaudio==2.1.2+cu118
torchvision==0.16.2+cu118
xformers==0.0.23.post1+cu118

#torchdata==0.6.1
#torchtext==0.15.2


## langchain LLM
langchain==0.1.9 # 0.1.5
# need Pydantic 1.10.12 to better evaluate typehints
# https://github.com/langchain-ai/langchain/issues/8577#issuecomment-1663249273
# pydantic==2.5.2
pydantic==1.10.13 
# docarray doesn't work with pydantic 2.xx, pydantic_core is installed with 2.xx, must be removed. 
# pydantic>=1.10.13 # typehints
unstructured==0.11.0 # for langchain S3DirectoryLoader to load txt file
sentence-transformers==2.2.2 # for langchain vectorestore embedding model
docarray==0.39.1 # langchain DocArrayInMemorySearch nned docarray

# llama-index==0.9.8.post1
# langchain==0.0.312 # HuggingFacePipeline broken after 0.0.313 to 0.0.340

# s3 client
boto3==1.34.50 # previously 1.34.14

# mlflow logging
mlflow==2.10.2
typing-extensions>=4.2.0
textstat==0.7.3 # calculate llm input stats
tiktoken==0.6.0 # calculate language similarity evaluation
# tiktoken==0.5.2
applyllm==0.0.5 # apply llm utility

tabula-py==2.9.0

